@model Soba;


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Sprat" class="control-label"></label>
                <input asp-for="Sprat" class="form-control" />
                <span asp-validation-for="Sprat" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RedniBroj" class="control-label"></label>
                <input asp-for="RedniBroj" class="form-control" />
                <span asp-validation-for="RedniBroj" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="StudentPrviId" class="control-label"></label>
                <select asp-for="StudentPrviId" class="form-control" asp-items="ViewBag.CimerId">
                        <option selected="selected" value="">Odaberi studenta
                            </option></select>
            </div>

            <div class="form-group">
                <label asp-for="StudentDrugiId" class="control-label"></label>
                <select asp-for="StudentDrugiId" class="form-control" asp-items="ViewBag.CimerId">
                <option selected="selected" value="">Odaberi studenta</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

