@model Sekemin.Models.Student
@{
    ViewData["Title"] = "Jelovnik";
}

<div style="width: 100%; background-color: blueviolet">
    <h6>Preostalo dnevnih obroka</h6>
</div>

<div style="width: 100%; margin-top: 50px; background-color: blue">
    <h5 style="margin-left: 65%">Odaberite željeni obrok sa sljedeće liste</h5>
</div>

<div style="width: 100%; margin-top: 150px; background-color: purple">
    <input type="text" id="odabranaHrana" name="hrana" placeholder="Odabrana hrana" style="position: center; margin-top: 10%; margin-right: 75%; margin-left: 25%" />
    <div class="list-group" style="margin-left: 60%; max-height: 150px; overflow: auto; margin-bottom: 10%; position: center">
        <a href="#" class="list-group-item">Value 1</a>
        <a href="#" class="list-group-item">Value 2</a>
        <a href="#" class="list-group-item">Value 3</a>
        <a href="#" class="list-group-item">Value 1</a>
        <a href="#" class="list-group-item">Value 2</a>
        <a href="#" class="list-group-item">Value 3</a>
        <a href="#" class="list-group-item">Value 1</a>
        <a href="#" class="list-group-item">Value 2</a>
        <a href="#" class="list-group-item">Value 3</a>
        <a href="#" class="list-group-item">Value 1</a>
        <a href="#" class="list-group-item">Value 2</a>
        <a href="#" class="list-group-item">Value 3</a>
        <a href="#" class="list-group-item">Value 1</a>
        <a href="#" class="list-group-item">Value 2</a>
        <a href="#" class="list-group-item">Value 3</a>
        <a href="#" class="list-group-item">Value 1</a>
        <a href="#" class="list-group-item">Value 2</a>
        <a href="#" class="list-group-item">Value 3</a>
        <a href="#" class="list-group-item">Value 1</a>
        <a href="#" class="list-group-item">Value 2</a>
        <a href="#" class="list-group-item">Value 3</a>
        <a href="#" class="list-group-item">Value 1</a>
        <a href="#" class="list-group-item">Value 2</a>
        <a href="#" class="list-group-item">Value 3</a>
    </div>
</div>

<div style="width: 50%; margin-top: 100px; float: left; background-color: aqua">
    <button type="button" style="float: right; margin-right: 20px">Nazad</button>
</div>

<div style="width: 50%; margin-top: 100px; float: right; background-color: chartreuse">
    <button type="button" style="float: left; margin-left: 20px">Plati</button>
</div>