@model Sekemin.Models.Zahtjev




@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Knjiga</h4>
<hr />


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

