body{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("boy_girl.jpg");
 background-repeat: no-repeat;
   background-color: rgba(0,0 ,0, 0.2);
  background-size:cover; 
    height: 100vh;
    
}

.omotac{
    background-color: aqua;
    
    position: relative;
    height: 100%;
    width: 100%;
}

