@model Sekemin.ViewModels.KreirajUlogu




<h1> Create new role</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="NazivUloge"></label>
                <input asp-for="NazivUloge" class="form-control" />
                <span asp-validation-for="NazivUloge" class="text-danger"></span>

            </div>
            <button type="submit" class="btn btn-primary" style="width:auto">Kreiraj ulogu</button>
        </form>

    </div>

</div>





