
<link rel="stylesheet" href="~/css/homepage.css" />

<div class="naslov">
  <p>Sekemin</p>
   <div id="dugmad" >
       
           <button class="btn btn-dark" style="border:1px solid red; border-radius:40px; height:50px; width:200px; display:inline-block;">Intro</button>     
      
           <button class="btn btn-dark" style="        border: 1px solid red;
        border-radius: 40px;
        height: 50px;
        width: 200px;
        display:inline-block;
        margin-left:2%;
">Pogodnosti</button>
      
   </div>

</div>


